.main_footer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 3.5vh;
  bottom: 0;
  text-align: center;
  background-color:grey ;
  z-index: 5;
} 
.sub_footer {
  position: absolute;
  display: flex;
  width: 100%;
  height: 30vh;
  bottom: 0;
  align-items: center;
  justify-content:space-between;
}
.bet_amt{
  margin: 1vw;
  display: flex;
  flex-direction: row;
  gap:20px;
  width:180px ;
}

.statictis{
  margin-right: 20px;
}

.text,.betgreen,.betblack,.betred{
  border: solid 1px black;
  border-radius: 10px;
  padding: 1px 10px 1px 10px ;
  margin: 2px 5px 2px 2px  ;
  background-color: #000000;
  align-items: center;
  justify-content:center;
  width: 20px;
  min-height: 2px;
  color: grey;
}
.betgreen{
  color: green;
}
.betblack{
  color: white;
}
.betred{
  color: red;
}
.highlight {
  border: 4px solid white;
  padding: 4px;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}
.cimg:hover {
  border-radius: 50%;
}
.bet{
  filter: brightness(40%);
}
/*
.cimg {
  min-width: 65px;
}
.chips,.chipsdown{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width:fit-content;
}
.chipsdown{
  animation-name: chipsanimation ;
  animation-duration: 1s;
}
@keyframes chipsanimation {
  from{
    transform: translateY(200px);
  }
  to{
    transform: translateY(100px);
  }
}



 */

/* TimerBar.module.css */

/* TimerBar.module.css */

/* TimerBar.module.css */

.cimg {
  min-width: 65px;
  transition: transform 1s ease; /* Only include transform in the transition */
}

.chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.chipsdown {
  animation: chipsSlideDown 2s forwards; /* Trigger the slide down */
}

.chipsup {
  animation: chipsSlideUp 2s forwards; /* Trigger the slide up */
}

@keyframes chipsSlideDown {
  0% {
    transform: translateY(0); /* Start at original position */
  }
  100% {
    transform: translateY(200vh); 
    display: none;
  }
}

@keyframes chipsSlideUp {
  0% {
    transform: translateY(200vh); /* Start at the bottom of the viewport */
  }
  100% {
    transform: translateY(0);/* Slide up to the original position */
  }
}
