:root {
  --gridgreen: #21a445;
  --gridred: #941e1e;
  --gridblack: #252228;
  --gridtextcolor: #f5f5f5;
  --bordercolor: #a27764;
}
.nav_elements {
  display: flex;
  justify-content: space-between;
  padding: 1vw 1vw;
}
.left_elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sub_left_ele {
  display: flex;
  flex-direction: column;
}
.right_elements {
  margin-bottom: 2vh;
}
.sub_right_ele {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.image {
  padding: 8px;
  margin: 8px;
  border: 2px solid grey;
  border-radius: 50%;
}
.text {
  padding: 8px;
  background-color: antiquewhite;
  border-radius: 7px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 20vw;
  height: 20px;
}
.text:hover {
  background-color: #253f49;
  border: 2px solid rgb(153, 117, 18);
}
.gridbase {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  display: grid;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 5px;
  border: 2px solid var(--bordercolor);
  cursor: pointer;
  height: 210px;
  width: 700px;
  top: 50%;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container img {
  max-width: 45px;
  max-height: 45px;
  position: relative;
}
.gridgreen,
.gridred,
.gridblack {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bordercolor);
}
.gridgreen {
  grid-row-start: 1;
  grid-row-end: 4;
  color: var(--gridtextcolor);
  text-align: center;
  background-color: var(--gridgreen);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridred {
  background-color: var(--gridred);
  color: var(--gridtextcolor);
  border: 1px solid var(--bordercolor);
}
.gridblack {
  background-color: var(--gridblack);
  color: var(--gridtextcolor);
  border: 1px solid var(--bordercolor);
}
.bottomgrid {
  height: 84px;
  width: 646px;
  top: 69%;
  right: 3%;
  grid-template-columns: repeat(6, 108px);
  grid-template-rows: repeat(2, 42px);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  display: grid;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 5px;
  border: 2px solid var(--bordercolor);
  cursor: pointer;
}
.simple:hover,
.simple2:hover {
  border: solid goldenrod 2px;
  background-color: gray;
}

.value {
  z-index: 2;
  position: absolute;
}
.rowselect {
  display: grid;
  grid-row: 1/4;
  grid-column: 14;
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  right: 21.7%;
  bottom: 36.3%;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  /* transform: translate(1850%, 51%); */
  border-radius: 5px;
  border: 2px solid var(--bordercolor);
  cursor: pointer;
  height: 210px;
  width: 53.84px;
}
.simple {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  grid-column-end: span 2;
  color: var(--gridtextcolor);
  border: 1px solid var(--bordercolor);
}
.simple2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  color: var(--gridtextcolor);
  border: 1px solid var(--bordercolor);
}
.undo, .undoblock {
  position: absolute;
  background-color:hsla(0, 4%, 16%, 0);
  box-shadow: none;
  border: #f5f5f5;
  left: 74.5%;
  top: 64.2%;
  width: 53.4px;
}
.undoblock{
  filter: brightness(30%);
}
