.lobby_heading {
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
  border: 2px solid goldenrod;
  color: aliceblue;
  background-color: #253f49;
}
.lobby_heading:hover {
  background-color: goldenrod;
  border: 2px solid goldenrod;
  color: black;
}
.lobby_in {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
h4 {
  padding-left: 12px;
}
.lobby {
  background: rgba(49, 49, 49, 0.8);
  font-size: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.lobby_content {
  color: black;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
  background: #f1f1f1;
  padding: 15px 15px;
  border-radius: 5px;
  max-width: 600px;
  min-width: 300px;
}

.close-lobby {
  padding: 80px;
  margin: 8px;
  border: 2px solid black;
  border-radius: 50%;
}
